/* Sabse upar Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Inter:wght@400;500&display=swap");

/* Tailwind Import */
@import "tailwindcss";

/* Custom Theme */
@theme {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --shadow-card: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Global Base Styles */
body {
  font-family: var(--font-body);
}
